@import "site-colors.scss";

@function getColor($threme){
    @if($threme == dark){
        @return $brown-dark;
    }
    @if ($threme == light) {
        @return $brown-light;
    }
}

@function invertTreme($threme){
    @if($threme == dark){
        @return light;
    }
    @if ($threme == light) {
        @return dark;
    }
}

@each $threme in dark, light {
    %text-#{$threme}{
        font-size: 15px;
        color: getColor($threme);
    }

    %border-#{$threme}{
        border: solid 2px;
        border-color: getColor($threme);
    }
    .g-btn-brown-#{$threme}{
        @extend %border-#{$threme};
        @extend %text-#{$threme};
        background-color: getColor(invertTreme($threme));

        &:hover{
            @extend %border-#{invertTreme($threme)};
            @extend %text-#{invertTreme($threme)};
            background-color: getColor($threme);
        }
        &:focus{
            @extend %border-#{invertTreme($threme)};
            @extend %text-#{invertTreme($threme)};
            background-color: getColor($threme);
            box-shadow: 0 0 0 0.25rem rgba($color: getColor(invertTreme($threme)), $alpha: 0.6);
            
        }
    }

    .accordion-button{
        font-size: 20px;
        color: $brown;
    }
    .accordion-button:focus{
        border-color: $brown-dark;
        box-shadow: 0 0 0 0.25rem rgba($color:$brown-light, $alpha: 0.6);
    }
    
    .accordion-button:not(.collapsed) {
        color: $brown;
        background-color: rgba($color:$brown-light, $alpha: 0.3);
    }
}