.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    line-height: 30px;
    background-color: rgb(27, 27, 27);

    span{
        @extend %main-text;
        font-size: 20px;
    }

    p{
        font-size:  20px;
    }
}

.social-networks{
    padding-top: 40px;
    text-align: center;
    a{
        font-size: 32px;
        color: white;
        padding: 10px;
        transition: 0.2s;

        &:hover{
            text-decoration: none;
        }
    }
}
  
.vk:hover{
    color: rgb(0, 140, 255);
}
  
.instagram:hover{
    color: rgb(255, 142, 113);
}

@include media-breakpoint-down(md) {
    .footer {
      height: 300px;
    }
}