.garageImg{
    height: 300px;
}
.garageImg img{
    height: 100%;
    width: auto;
}

.garageImg-small{
    height: 120px;
}

.garageImg-small img{
    height: 100%;
    margin: auto;
}
.homeImg{
    background-image: url("../img/main-2.png");
    background-size: cover;
    min-height: 80vh;
    width: 100%;
    display: block;
    box-shadow: 0 0px 20px #000000;
}

@include media-breakpoint-down(md) {
    .homeImg{
        background-image: url("../img/main-2-md.png"); 
    }
  }
