@import "site-colors.scss";

.homeImg{
    background-image: url("../img/main-2.png");
    background-size: cover;
    min-height: 80vh;
    width: 100%;
    display: block;
    box-shadow: 0 0px 20px #000000;
}

@include media-breakpoint-down(md) {
    .homeImg{
        background-image: url("../img/main-2-md.png"); 
    }
  }

.slick-slide{
    padding: 0 10px;
    transition: .5s ease-in-out;
    opacity: 0.8;
    transform: scale(0.8);
    img{
        border: $brown solid 8px;
        border-style: double;
    }
}

.slick-center{
    opacity: 1;
    transform: scale(0.95);
}

.slick-slide{
    min-height: 200px;
}
