.page-section{
    padding: 100px 0;
}

.section-bg-image{
    background-image: url("/img/bg-2.webp");
    box-shadow: 0 0 20px 0 black;
    background-size: cover;
}

@include media-breakpoint-down(md) {
    .section-bg-image{
        background-image: url("/img/bg-2-md.webp");
    }
  }